@font-face {
    font-family: 'oatmeal';
    src: url('../fonts/oatmeal.ttf') format('truetype');
}

@font-face {
    font-family: 'epilogue';
    src: url('../fonts/epilogue.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    font-family: 'epilogue', sans-serif;
    color: #fff;
}

header{
    margin-top: 30vh;
    text-align: center;
}

header h1 {
    font-family: 'oatmeal', serif;
    font-size: clamp(1rem, 4vw + 1rem, 8rem);
    text-shadow: 0 0 2rem #ff4757;
}

.title-s {
    color: #ff4757;
}

div.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

div.link-container a:hover {
    background-color: #ff1b2e;
    transform: scale(.97);
}

a {
    width: 20rem;
    padding: 0.6rem 1rem;
    background-color: #ff4757;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #111;
    font-family: 'oatmeal', serif;
    font-weight: 900;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px 0px;
    transition: 0.2s;
    text-decoration: none;
    text-align: center;
}

.cursor-glow{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    box-shadow: 0 0 25px 20px #ff475780;
    z-index: -1;
    transition: opacity 0.3s;
}